body {
  font-family: Arial, sans-serif;
  background-color: #fefbf6;
  margin: 20px;
  color: #333;
}

h1 {
  text-align: center;
  color: #5a3825;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-item {
  background-color: #fff5ec;
  border: 1px solid #e0c9a6;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  margin: 10px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

.menu-item h2 {
  color: #7a4a1f;
  text-align: center;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #7a4a1f;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #5a3825;
}

.summary {
  text-align: center;
  margin-top: 30px;
}


@media (min-width: 1024px) {
  .menu {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
