body {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

.menu {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 20px;
}

.menu-item {
  background: #f0e68c;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #333;
}

.menu-item h2 {
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  color: darkgreen;
}


@media (min-width: 1024px) {
  .menu {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
